*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    overflow-x:hidden;
}
a {
    text-decoration: none;
}
.title1{
    position: sticky;
    top: 0;
    z-index: 3;
}
.header{
   width: 100vw;
   height: 15vh;
   display: flex;
   justify-content: center;
   background-color: white;
}
.img1{
    width: 70vw;
   height: 15vh;
}
.menu{
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(84, 81, 81);
    justify-content: center;
    text-align: center;
}
.m{
    width: 25vw;
    height: 7vh;
    color: white;
    align-content: center;
}
.m:hover{
    background-color: rgb(0, 0, 0,0.7);
    .n1{
    display: block;
    color: white;
    background-color: rgb(0, 0, 0,0.7);
    }
    .n:hover{
        background-color: rgb(84, 81, 81,0.7);
    }
}
.n1{
    display: none;
    position: absolute;
}
.n{
    width: 25vw;
    height: 7vh;
    font-size: 0.9rem;
    margin-top: 3vh;
}
.video1{
    width: 100vw;
}
.img2{
    width: 100vw;
}
.img{
    position: relative;
}
.text{
    position: absolute;
    color: white;
    font-size: 8vw;
    top: 5vh;
    right: 37vw;
}
.t{
    right: 28vw;
}
.button{
    width: 45vw ;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 3.5vh;
    right: 29vw;
}
.tiny_button{
    width: 22vw;
    border-radius: 2vh;
    text-align: center;
    align-content: center;
}
.a{
    background-color: rgba(29, 29, 235, 0.938);
    color: white;
}
.b{
    background-color: white;
}
.tiny_button:hover{
    transform: scale(50%,50%);
    transform: scale(1.1);
    transition:0.3s;
}
@media only screen and (min-width: 768px){
    .imges{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .img2{
        width: 49vw;
        height: 30vh;
    }
    .text{
        top: 2vh;
        right: 20vw;
        font-size: 1.5rem;
    }
    .t{
        right: 15vw;
    }
    .button{
        width: 22vw ;
        right: 13vw;
        bottom: 2vh;
    }
    .tiny_button{
        width: 10vw;
    }
    .i{
        display: none;
    }
}
@media only screen and (min-width: 998px){
    .img2{
        width: 49vw;
        height: 60vh;
    }
    .text{
        font-size: 3rem;
    }
    .button{
        bottom: 4vh;
        right: 14vw;
    }
}