*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    overflow-x:hidden;
}
a {
    text-decoration: none;
}
.title1{
    position: sticky;
    top: 0;
    z-index: 3;
}
.header{
   width: 100vw;
   height: 15vh;
   display: flex;
   justify-content: center;
   background-color: white;
}
.img1{
    width: 70vw;
   height: 15vh;
}
.menu{
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(84, 81, 81);
    justify-content: center;
    text-align: center;
}
.m{
    width: 25vw;
    height: 7vh;
    color: white;
    align-content: center;
}
.m:hover{
    background-color: rgb(0, 0, 0,0.7);
    .n1{
    display: block;
    color: white;
    background-color: rgb(0, 0, 0,0.7);
    }
    .n:hover{
        background-color: rgb(84, 81, 81,0.7);
    }
}
.n1{
    display: none;
    position: absolute;
}
.n{
    width: 25vw;
    height: 7vh;
    font-size: 0.9rem;
    margin-top: 3vh;
}
.text{
    margin-top: 7vh;
    text-align: center;
    font-size: 1.7rem;
}
.models{
    width: 90vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}
.right{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mode{
    min-height: 9vh;
    border: solid 0.3vh;
    border-radius: 1.1vh;
    padding: 0.5vh;
}
.left{
    width: 40vw;
    height: 40vh;
    background-image: url("pictures/s.jpg");
    background-size: cover;
    margin-right: 5vh;
    border-radius: 1.1vh;
}
.a1:hover{
    .left{
        background-image: url("pictures/s.jpg");
    }
}
.a2:hover{
    .left{
        background-image: url("pictures/3.jpg");
    }
}
.a3:hover{
    .left{
        background-image: url("pictures/x.jpg");
    }
}
.a4:hover{
    .left{
        background-image: url("pictures/y.jpg");
    }
}
.details{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    width: 40vw;
    height: 25vw;
}
.form{
    width: 40vw;
    margin: 2vh;
}
.f1{
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1vh;
}
button{
    width: 15vw;
    height: 5vh;
    background-color: blue;
    border-radius: 1.1vh;
    font-size: 1.2rem;
    color: white;
    border: none;
    margin-top: 5vh;
}
.l{
    font-size: 1.2rem;
    width: 15vw;
}
.i{
    width: 15vw;
    height: 4vh;
    font-size: 1.1rem;
    background-color: rgb(236, 229, 229);
    border: none;
    border-radius: 0.5vh;
}
.f{
    font-size: 1.1rem;
    margin: 4vh;
}
.g{
    font-size: 1.1rem;
    margin: 4vh;
}
h2{
    font-size: 2rem;
    margin-bottom: 5vh;
    margin-top: 10vh;
}
.car{
    margin-top: 10vh;
}
.send{
    margin-bottom: 7vh;
}
@media only screen and (max-width: 768px){
    .right{
        width: 90vw;
        margin: 2vh;
    }
    .left{
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .form{
        width: 90vw;
    }
    .l{
        width: 90vw;
    }
    .i{
        width: 90vw;
    }
}
    